---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Installing {{ curl_os_pkg | default("curl") }}...
  become: true
  become_user: root
  ansible.builtin.package:
    name: '{{ curl_os_pkg | default("curl") }}'
    state: present
